body {
	background-color: #FFFFFF;
}

.main-contents {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	width: 1300px;
	border: 1px;
	border-style: dashed;
	border-color: #006400;
	border-radius:30px;
}

.header {
	text-align: right;
	margin-top: 15px;
	margin-right: 15px;
}

a.header {/*リンクされた文字*/
    color: #6B8E23;
    font-style: normal;
    text-decoration: none;
}
a:link {/*未訪問のリンク*/
    color: #6B8E23;
    font-style: normal;
    text-decoration: none;
}
a:visited {/*訪問後のリンク*/
    color: #9ACD32;
    text-decoration: none;
}
a:hover {/*マウスをのせたとき*/
    color: #6B8E23;
    font-style: normal;
    text-decoration: none;
}
a:active {/*クリック中*/
    text-decoration:none;
}

.login {
	position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    width:400px;
    height:300px;
    text-align: center;

    color: #aaa;
}

.narrow {
	margin-top: 5px;
	text-align: center;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #ECECFF;
}

.messagetop {
	border-bottom-style: ridge;
	font-weight: lighter;
	font-family: 'Impact', sans-serif;
	color: black;
}

.message .text {
	border-bottom-style: ridge;
	font-weight: lighter;
	color: black;
	font-size: 14px;
}

.message .name , .comment .name {
	font-weight: lighter;
	color: black;
	font-size: 14px;
}

.message .date , .comment .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.messages {
	margin-right : 15%;
 	margin-left : 20%;
}

.message {
	margin: 5px 10px;
	padding: 15px 10px;
	background-color: #FFFFFF;
}

.view {
	margin: 50px 20px;
	padding: 5px;
	width: 80%;
	border: 4px;
	border-style: double;
	border-color: #006400;
	background-color: #FFFFFF;
	border-radius:30px;
}

.comments {
	margin-top: 5px;
	margin-left: 100px;
	margin-right:10px;
	padding: 5px 10px 0px 5px;
}

.comment {
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	border-bottom-style: ridge;
	background-color: #FFFFFF;
}

.delete {
	text-align: right;
}

.createcomment {
	text-align: center;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-top: 5px;
	color: red;
}


input#submit_button {
    background: #FFFFFF;
	border-top: 1px solid #6B8E23;
	border-left: 1px solid #6B8E23;
	border-right: 1px solid #6B8E23;
	border-bottom: 1px solid #6B8E23;
	color:#111;
	width: 80px;
	padding: 10px 0;
}

input#login {
	border:0;
	padding:10px;
	font-size:1.3em;
	font-family:Arial, sans-serif;
	color:#6B8E23;
	border:solid 1px #ccc;
	margin:0 0 20px;
	width:300px;

	 -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}
